<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <BlueAcorn_AjaxNewsletter>
            <version>0.0.1</version>
        </BlueAcorn_AjaxNewsletter>
    </modules>
    <global>
        <helpers>
            <ajaxnewsletter>
                <class>BlueAcorn_AjaxNewsletter_Helper</class>
            </ajaxnewsletter>
        </helpers>
        <models>
            <ajaxnewsletter>
                <class>BlueAcorn_AjaxNewsletter_Model</class>
            </ajaxnewsletter>
        </models>
    </global>
    <frontend>
        <routers>   <!-- Set the controller for the module -->
            <ajaxnewsletter>
                <use>standard</use>
                <args>
                    <module>BlueAcorn_AjaxNewsletter</module>
                    <frontName>ajaxnewsletter</frontName>
                </args>
            </ajaxnewsletter>
        </routers>
        <layout>
            <updates> <!-- Specify layout XML for module -->
                <blueacorn_ajaxnewsletter>
                    <file>blueacorn/ajaxnewsletter.xml</file>
                </blueacorn_ajaxnewsletter>
            </updates>
        </layout>
    </frontend>
    <default>
        <ajaxnews>
            <sample>
                <enabled>1</enabled>
            </sample>
        </ajaxnews>
    </default>
</config>
