<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2015 Blue Acorn (http://www.blueacorn.com)
 * @author: Grant Wimmer
 * @namespace: BlueAcorn
 * @module: AjaxNewsletter
 *
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 **/
-->
<config>
    <modules>
        <BlueAcorn_AjaxNewsletter>
            <version>0.0.1</version>
        </BlueAcorn_AjaxNewsletter>
    </modules>
    <global>
        <helpers>
            <ajaxnewsletter>
                <class>BlueAcorn_AjaxNewsletter_Helper</class>
            </ajaxnewsletter>
        </helpers>
        <models>
            <ajaxnewsletter>
                <class>BlueAcorn_AjaxNewsletter_Model</class>
            </ajaxnewsletter>
        </models>
        <events>
            <!--<admin_system_config_changed_section_ajaxnewsoptions>-->
            <controller_action_layout_render_before>
                <observers>
                    <ajaxnewsletter>
                        <type>singleton</type>
                        <class>ajaxnewsletter/observer</class>
                        <method>enableDisableAjaxNewsletter</method>
                    </ajaxnewsletter>
                </observers>
            </controller_action_layout_render_before>
            <!--</admin_system_config_changed_section_ajaxnewsoptions>-->
        </events>
    </global>
    <frontend>
        <routers>   <!-- Set the controller for the module -->
            <ajaxnewsletter>
                <use>standard</use>
                <args>
                    <module>BlueAcorn_AjaxNewsletter</module>
                    <frontName>ajaxnewsletter</frontName>
                </args>
            </ajaxnewsletter>
        </routers>
        <layout>
            <updates> <!-- Specify layout XML for module -->
                <blueacorn_ajaxnewsletter>
                    <file>blueacorn/ajaxnewsletter.xml</file>
                </blueacorn_ajaxnewsletter>
            </updates>
        </layout>
    </frontend>
    <default>
        <ajaxnews>
            <sample>
                <enabled>1</enabled>
            </sample>
        </ajaxnews>
    </default>
</config>
